<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.goulot">

    <application
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true">  
        <activity android:name=".GameBoard" />
        <activity android:name=".MenuPlay" />
        <activity android:name=".MenuOptions" />
        <activity android:name=".MenuCharacterSelection" />
        <activity android:name=".MenuMain" />
        <activity
            android:name=".MenuAuthentication"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>